@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); /* 주로 사용 할 Noto 웹 폰트 링크 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap'); /* 필요에 따라 사용 할 Mont 웹 폰트 링크 */

* { /* 공통 적인 전체 선택자에 적용 */
    color: #000; /* 검정 글씨 적용 */
    box-sizing: border-box; /* 너비 높이를 경계에 맞춰서(늘어나지 않게하기 위함) */
    outline: none; /* 검색창 경계선 제거 */
    font-family: "Noto Sans KR", sans-serif; /* 폰트 글꼴 적용 */
}

html {
    font-size: 13px;
    background: #f8f8f8;
}
/* 스타일 초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background: #fff;
}

ul, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none; /* 링크 밑줄 제거 */
}

img {
    border: 0; /* 이미지 경계선 제거 */
}
/* 스타일 초기화 E */

/* 공통 스타일 S */
.montserrat { /* 필요에 따라 사용 할 Mont 웹 폰트 */
    font-family: "Montserrat", sans-serif;
}

h3 {
    color: #212121;
    font-size: 1.538rem;
    text-align: center;
    line-height: 1;
    /* padding: 20px; */
    padding-top: 20px;
}

/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    border-bottom: 1px solid #e6e6e6; /* 경계선 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0 15px; /* 상단 좌우 내부 여백 */
}

header .logo img {
    height: 34px;
}

header .site-top i {
    font-size: 2rem; /* 위에서 적용해놓은 13px의 2rem -> 26px; */
}

header .site-top .left i {
    margin-right: 10px; /* 외부 오른족 여백 */
}

header .site-top .right i {
    margin-left: 10px; /* 외부 왼쪽 여백 */
}

header nav {
    display: flex;
    height: 44px;
}

header nav a {
    flex-grow: 1; /* 전체 영역을 각 요소가 1등분씩 나눠 가짐 */
    width: 0; /* 여백을 없앰 */
    text-align: center; /* 가운데 정렬 */
    line-height: 44px; /* 행 간격 높이와 동일하게 맞추면 정가운데로 옴 */
}
/* 헤더 영역 E */

/* 메인 배너 영역 S */
.main-banner img {
    width: 100%;
    display: block;
}

/* 메인 배너 영역 E */

/* 서브 메뉴 영역 S */
.sub-menus {
    border: 10px solid #ededed;
    display: flex;
    flex-wrap: wrap;
    border-left: 0;
    border-right: 0;
}

.sub-menus a {
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    width: calc(100% / 3);
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    font-size: 1.077rem;
}

.sub-menus a:nth-of-type(1),
.sub-menus a:nth-of-type(2),
.sub-menus a:nth-of-type(3) {
    border-top: 0;
}

.sub-menus a:nth-of-type(3n+1) {
    border-left: 0;
}
/* 서브 메뉴 영역 E */

/* 서브 배너 영역 S */
.sub-banner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sub-banner a:nth-of-type(1) {
    width: 100%;
}

.sub-banner a:nth-of-type(2),
.sub-banner a:nth-of-type(3) {
    width: 50%;
}

.sub-banner img {
    width: 100%;
    display: block;
}
/* 서브 배너 영역 E */

/* 상품 목록 영역 S */
.products ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.products li {
    width: calc(100% / 2 - 8px);
    margin-bottom: 30px;
}

.products li:nth-of-type(2n) {
    margin-left: 16px;
}

.products .product-image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.products .product-image {
    margin-bottom: 10px;
    display: block;
}

.products .product-price {
    font-size: 1.154rem;
}

.products .product-price .price {
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: -1px; /* 글자와 글자 사이 word는 단어와 단어 사이 간격 */
}

.products .product-name {
    color: #3e3d3c;
    font-size: 1.154rem;
    word-break: break-all; /* 문자 숫자 연달아 적었을 때 자동 줄 개행 */
}

.products .stars img {
    height: 11px;
}

.products .no-of-review {
    color: #a7a7a7;
    margin-left: 6px;
    font-size: 0.923rem;
}

.products .review-rate {
    margin: 10px 0 2px;
}

.products .more-button {
    color: #666;
    border: 1px solid #b1b1b1;
    font-size: 1.154rem;
    font-weight: bold;
    padding: 8px 0;
    display: block;
    width: 100%;
    cursor: pointer;
    background: #fff;
}
/* 상품 목록 영역 E */

/* 하단 배너 영역 */
.bottom-banner {
    width: 100%;
    display: block;
    margin: 10px 0 20px;
}

/* 푸터 영역 S */
footer {
    padding: 25px 0 80px;
    margin-top: 25px;
    background: #f9f9f9;
}

footer .logo img {
    width: 79px;
    margin: 0 auto 12px;
    display: block;
}

footer .center-phone {
    border: 2px solid #2a2a2a;
    border-radius: 20px;
    height: 35px;
    line-height: 31px;
    width: 190px;
    display: block;
    margin: 0 auto 7px;
    font-size: 1.538rem;
    font-weight: 800;
    text-align: center;
}

footer .center-phone img {
    height: 16px;
    vertical-align: middle;
}

footer .bank-info {
    color: #2a2a2a;
    font-size: 0.923rem;
    text-align: center;
}

footer .bank-info span {
    font-size: 1rem;
    font-weight: 600;
}

footer .company-info {
    color: #878787;
    text-align: center;
    margin: 3px 0 8px;
    font-size: 0.923rem;
    font-weight: 600;
}

footer .company-info img {
    width: 15px;
    vertical-align: middle;
}

footer .links {
    text-align: center;
}

footer .links a {
    color: #878787;
    font-size: 0.846rem;
    padding: 0 11px;
    position: relative;
}

footer .links a:not(.last)::after { /* 가상 */
    content: ''; /* 빈 공간 필수 */
    display: block;
    width: 1px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 5px;
    background: #878787;
}
/* 푸터 영역 E */

/* 하단 고정 메뉴 S */
.bottom-quick-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    padding: 9px 15px;
    border-top: 1px solid #dfe1e5;
    background: #fff;
}

.bottom-quick-menu button {
    width: 26px;
    height: 30px;
}

.bottom-quick-menu .links {
    display: flex;
}

.bottom-quick-menu .links a {
    flex-grow: 1;
    width: 0;
}

.bottom-quick-links {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 10;
}

.bottom-quick-links img {
    display: block;
    width: 50px;
    margin-top: 10px;
}
/* 하단 고정 메뉴 E */